language: d
sudo: false

before_install:
  - sudo apt-get -y install libglu1-mesa-dev freeglut3-dev mesa-common-dev

matrix:
    include:
        - d: dmd-2.090.1
        - d: dmd-2.088.1
        - d: dmd-2.087.1
        - d: dmd-2.086.1
        - d: dmd-2.079.1
        - d: ldc-1.20.0
        - d: ldc-1.19.0
        - d: ldc-1.18.0
        - d: ldc-1.17.0
        - d: ldc-1.16.0
        - d: ldc-1.9.0

script:
  - pushd examples/sdl  && dub build --compiler=${DC} && popd
  - pushd examples/arsd && dub build --compiler=${DC} && popd